@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    overflow: hidden;
}

.map-container svg {
    width: 100%;
    height: 100%;
    transform-origin: 0 0; /* Ensure zooming is from the top-left corner */
    transition: transform 0.3s ease; /* Smooth zoom transition */
}


.skeleton-loader {
    border-bottom: solid 1px lightgrey;
    padding: 15px 10px;

    .skeleton-1,
    .skeleton-2,
    .skeleton-3 {
        float: left;
        height: 10px;
        animation: skeleton-loader-shimmer 1s linear infinite forwards;
        background: #eee;
        background-image: gradient(linear, left center, right center, from(#333), color-stop(.2, #333), color-stop(.4, #333), to(#333));
        background-image: linear-gradient(to right, #eee 0%, #ccc 20%, #ddd 40%, #eee 100%);
        background-repeat: no-repeat;
        background-size: 800px 104px;
        border-radius: 3px;

        &:not(:first-child) {
            margin: 10px 10px 0 0;
        }
    }

    .skeleton-1 {
        width: 235px;
    }

    .skeleton-2 {
        width: 130px;
        clear: both;
    }

    .skeleton-3 {
        width: 60px;
    }
}

@keyframes skeleton-loader-shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}
